<?xml version="1.0"?>
<launch>

    <arg name="python" default="false" />
    <arg name="ref_lat" default="12.3456" />
    <arg name="ref_lon" default="23.4567" />

    <node unless="$(arg python)" pkg="gps_example" type="gps_example" name="gps_example" output="screen">
        <param name="ref_lat" value="$(arg ref_lat)" />
        <param name="ref_lon" value="$(arg ref_lon)" />
    </node>
    <node if    ="$(arg python)" pkg="gps_example" type="gps_example.py" name="gps_example" output="screen">
        <param name="ref_lat" value="$(arg ref_lat)" />
        <param name="ref_lon" value="$(arg ref_lon)" />
    </node>

    <node pkg="rviz" type="rviz" name="gps_example_viz" args="-d $(find gps_example)/rviz/gps_example.rviz" />

    <!-- This starts the Gazebo simulation -->
    <param name="use_sim_time" value="true" />
    <node pkg="audibot_twist_controller" type="audibot_twist_node" name="speed_steering_control" output="screen" />
    <node pkg="ugv_lecture_gazebo" type="robust_gazebo_launch.py" name="gazebo_launch" output="screen">
        <param name="launch_cmd" value="$(find ugv_lecture_gazebo)/launch/gazebo_world.launch world_name:=$(find ugv_lecture_gazebo)/worlds/empty_world.world use_camera_control:=true headless:=false" />
    </node>
    <param name="robot_description" command="$(find xacro)/xacro '$(find gps_example)/urdf/audibot_gps_sim.urdf.xacro' pub_tf:=true blue:=false ref_lat:=$(arg ref_lat) ref_lon:=$(arg ref_lon) gps_rate:=5.0" />
    <node pkg="gazebo_ros" type="spawn_model"  name="spawn_audibot" args="-urdf -param robot_description -model audibot -x 0 -y 0 -z 0 -Y 0"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher">
        <param name="publish_frequency" type="double" value="1000.0" />
    </node>

</launch>